<launch>
    <arg name="robot_name" default="jethexa" />
    <arg name="tf_prefix" default="jethexa" />

    <arg name="scan_topic" default="scan" />
    <arg name="rf2o_enable" default="true" /> # 是否开启激光雷达模拟里程计
    <arg name="imu_enable" default="false" />  # 是否开启姿态传感器
    <arg name="cam_enable" default="false" />  # 是否开启相机
    <arg name="joy_enable" default="true" />  # 是否开启手柄遥控

    <!-- 机器人的URDF描述 -->
    <include file="$(find jethexa_description)/launch/description.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
    </include>

    <!-- 机体运动控制 -->
    <include file="$(find jethexa_controller)/launch/jethexa_controller.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
	<arg name="odom_enable" value="false" />
	<arg name="tf_enable" value="false" />
    </include>

    <!-- 激光雷达 -->
    <include file="$(find jethexa_peripherals)/launch/lidar.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>

    <!-- 手柄遥控 -->
    <group if="$(arg joy_enable)">
        <include file="$(find jethexa_peripherals)/launch/joystick_control.launch" />
    </group>

    <!-- 姿态传感器 -->
    <group if="$(arg imu_enable)">
        <include file="$(find jethexa_peripherals)/launch/imu.launch">
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
            <arg name="freq" value="50" />
        </include>
    </group>

    <!-- 相机 -->
    <group if="$(arg cam_enable)">
        <include file="$(find jethexa_peripherals)/launch/camera.launch"></include>
    </group>

    <!-- 激光雷达模拟里程计 -->
    <group if="$(arg rf2o_enable)">
        <include file="$(find jethexa_slam)/launch/include/rf2o_laser_odometry.launch">
            <arg name="scan_topic" value="$(arg scan_topic)" />
            <arg name="odom_topic" value="odom/laser" />
            <arg name="odom_frame_id" value="$(arg tf_prefix)/odom" />
            <arg name="base_frame_id" value="$(arg tf_prefix)/base_link" />
            <arg name="laser_frame_id" value="$(arg tf_prefix)/laser_link" />
        </include>
    </group>

    <!-- 里程计滤波融合 -->
    <include file="$(find jethexa_slam)/launch/include/jethexa_ekf.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
</launch>
